* {
    font-family: 'Bookman Old Style';
    box-sizing: border-box;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    padding-top: 60px;
    background: #1b2021;
}
button:hover {
    cursor: pointer;
}
button:focus , input[type="button"] , input[type="image"] {
    outline: 0;
}
a {
    text-decoration: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
div {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    padding-top: 17px;
    padding-bottom: 17px;
    height: 220px;
}
.signUpContainer label {
    display: inline-block;
    min-width: 150px;
}
#userEmail {
    text-decoration: none;
    color: #F7F1DE;
    margin-left: -10px;
}
#userEmail:hover {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}
#xSymbol, #exclamation {
    width: 15px;
    height: 15px;
}
#logo {
    border: none;
    width: 50px;
    height: 55px;
    margin: 0 5px;
    background: url('../Images/AndroShieldlogo.png') no-repeat;
    background-repeat: no-repeat;
    background-size: 50px 55px;
}
#logo:hover, #logoWord:hover {
    cursor: pointer;
}
#logoWord {
    border: none;
    width: 290px;
    height: 55px;
    background: url('../Images/AndroShieldword.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: 290px 55px;
}
.top {
    position: relative;
    color: #F7F1DE;
    float: right;
    margin: 20px 5px 5px 10px;
    left: 1px;
}
.topMenu {
    position: fixed
}
.darkBackground .lightBackground{
    width:100%;
}
.darkBackground {
    background: #1b2021
}
.lightBackground {
    background: #F7F1DE
}
.centerAligned {
    text-align: center
}
.boldText {
    font-weight: 900
}
.lightText {
    color: #F7F1DE
}
.button {
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #1b2021;
    background-color: #e3dc95;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #999;
}
.headerButton {
    position: absolute;
    top: 5px;
    right: 5px;
}
.headerPhoto {
    float: left;
}
.homeButtons:hover {
    background-color: #fcfc69
}
.homeButtons:active {
    background-color: #fcfc50;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
th , tr , td {
    padding: 10px;
}
.wrapper {
    background: #e3dc95;
    height: calc(100% - 220px);
    min-height: 400px;
    margin-bottom: 30px;
}
.navigationBar {
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 60px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.topLeft {
    position: relative;
}
.topRight {
    background-color: #1b2021;
    border: none;
    border-radius: 5px;
    padding: 12px 10px;
    display: inline-block;
    font-size: larger;
    position: relative;
    float: right;
    margin: 5px 5px 5px 10px;
    top: 0;
    left: 1px;
}
.topRight:hover {
    background: #424242;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
}
#vulnerabilityReportTable  {
    margin-bottom: 20px;
}
.topRight:active {
    background: #F7F1DE;
    color: #1b2021;
}
.loginContainer {
    margin-top: 30px;
    clear: both;
    width: 240px;
    background: #1b2021;
    align-self: center;
    border: 2px solid #1b2021;
    border-radius: 5px;
    box-shadow: 0 5px #A6A867;
    padding: 10px 20px;
    line-height: 200%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: auto;
}
.loginContainer::content , .signUpContainer::content {
    float:left;
}
input.loginInput:focus::-webkit-input-placeholder {
    opacity: 0;
}
.loginInput[type="Email"], .loginInput[type="Password"], .loginInput[type="Text"] {
    height: 24px;
    width: 193px;
}
.homeButtons {
    width: 100px;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #1b2021;
    background-color: #fcfc62;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    margin-bottom: 5px;
    white-space: normal;
}
.footerColumn {
    height: 220px;
    float: left;
}
.footerLeft , .footerRight {
    width: 25%;
    position: relative;
}
.footerMiddle {
    width: 50%;
}
@media (max-width: 600px) {
    .footerColumn {
        width: 100%;
    }
}
.footerImage {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.signUpContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
    background: #1b2021;
    align-self: center;
    border: 2px solid #1b2021;
    border-radius: 5px;
    box-shadow: 0 5px #A6A867;
    padding: 10px 20px;
    line-height: 200%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: auto;
}
.simpleButton {
    background-color: #424242;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
.simpleButton:hover {
    cursor: pointer;
    background-color: #424250;
}
.simpleButton:active {
    background: #F7F1DE;
    color: #1b2021;
}
.negativeMargin {
    margin-right: -20px;
}
.userHomePageButtons {
    width: 50%;
    padding: 15px 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #feffea;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    margin: 25%;
}
    .userHomePageButtons:hover {
        background-color: #424242;
    }
.userHomePageButtons:active {
    background-color: #a3a3a3;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
.twoColumns {
    float: left;
    width: 50%;
    min-height: 400px;
    position: relative;
}
.row {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}
.incorrectCredentialsContainer {
    margin-top: 50px;
    clear: both;
    width: 340px;
    background: #1b2021;
    align-self: center;
    border: 2px solid #1b2021;
    border-radius: 5px;
    box-shadow: 0 5px #A6A867;
    padding: 10px 20px;
    line-height: 200%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: auto;
}
.incorrectLoginCredentials, #repeatedEmail {
    color: #ff3333;
}
.repeatedEmailPanel {
    background-color: #ff3333;
    color: white;
    font: bold;
    height: 24px;
    width: 50px;
}
.reportPageButtons {
    height: 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #feffea;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    display: inline-block;
    margin: 10px 0 20px 20px;
}
.reportPageButtons:hover {
    background-color: #424242;
}
.reportPageButtons:active {
    background-color: #a3a3a3;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
.centeredButtons {
    text-align: center;
    min-height: 80px;
}
#vulnerabilityReportTable, #apkInfoTable, #permissionsTable, table, th, td {
    margin: 0 auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    background-color: #feffea;
}
#permissionsTable {
    width: 400px;
    text-align: center;
}
    
.rightBorder {
    border-right: 2px solid black;
}
.cellHeader {
    background-color: #424242;
    font-weight: bolder;
    color: whitesmoke;
}
.cell {
    background-color: #424242;
    color: whitesmoke;
}
.centeredClass {
    font-size:xx-large;
    text-align: center;
    font-weight:700;
    margin-bottom: 20px;
    margin-top: 20px;
}
.apkUploadContainer {
    margin-top: 50px;
    clear: both;
    width: 500px;
    background: #1b2021;
    align-self: center;
    border: 2px solid #1b2021;
    border-radius: 5px;
    box-shadow: 0 5px #A6A867;
    padding: 10px 20px;
    line-height: 200%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: auto;
    min-height: 100px;
}
.twoColumns2 {
    float: left;
    width: 50%;
    position: relative;
    align-content: center;
    min-height: 70px;
    position: relative
}
.analyzeBtn {
    margin: 0 auto;
    display: block;
}
.container {
    position: relative;
    height: 50px;
    width: 150px;
    left: 170px;
}
.folderImage {
    position: absolute;
    left: 145px;
    clear: both;
}
.inputfile {
    position: absolute;
    left: 129px;
    top: 147px;
}
.inputContainer {
    position: relative;
    text-align: center;
    align-self: center;
    align-content: center;
    clear: both;
    height: 190px;
}
.vulnerabilityTable {
    margin-bottom: 70px;
}
.allReportsTableClass {
    margin-top: 55px;
    margin-bottom: 55px;
}
.allReportsTableButtons {
    margin-bottom:1px;
}
.extensionInvalidLabelClass {
    display: block;
    text-align: center;
    margin-bottom: 11px;
}
/*.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}*/
.checkMarkImage {
    width: 20px;
    margin-left: 6px;
}
.cleanApkMessage {
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
}
.facebookLogin {
    background-color: #3b5998;
    display: block;
    color: white;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 30px;
    box-shadow: 1px #11244d;
    width: auto;
}
.facebookLogin img {
    height: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-right: 3px;
}
.facebookLogin:hover {
    background-color: #3b5994;
}
.facebookLogin:active {
    background-color: #3B5998;
}
.homepageLink {
    margin-top: 15px;
}
.descriptionWrappero {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.lowRiskColor {
    background-color: #30F22A;
}
.mediumRiskColor {
    background-color: #FFCA39;
}
.highRiskColor {
    background-color: #F2302A;
}
.leftMargin {
    margin-left: 25px;
}
.analysisNotification {
    align-self: center;
    font-size: x-large;
    font-weight: bolder;
    color: #1b2021;
    display: block;
}
.processingIcon {
    display: block;
    width: 30px;

}
.smallIconAboutUs {
    width: 125px;
    display: inline;
    float: left;
}
/*.aboutUsP {
    display: inline;
    float: left;
}*/
/*.miniContainer div {
    display:inline;
    height: 125px;
    float: left;

}*/
.miniContainer {
    width: 800px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.colum1 {
    width: 150px;
    float: left; /* add this */
}

.column2 {
    width: 600px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
